html, body {
  font-family: "Inter", "Mulish", "Palanquin", "Bai Jamjuree", sans-serifs;
  overflow-x: hidden;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 85px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1050;
}
.header .navbar {
  max-width: 1400px;
  padding: 12px 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  gap: 100px;
}
.header .navbar .logo-wrapper {
  flex: 83px 0 0;
}
.header .navbar a, .header .navbar img {
  height: 100%;
}
.header .navbar .nav-links {
  display: flex;
  justify-content: space-between;
  flex: calc(100% - 170px - 100px);
}
.header .navbar .nav-links .dropdown-wrapper {
  position: relative;
}
.header .navbar .nav-links a {
  color: #1c1c1c;
  text-decoration: none;
  font-weight: 500;
}
.header .navbar .menu {
  display: none;
  height: 70px;
  width: 70px;
  position: relative;
  border: 5px solid transparent;
  border-radius: 100%;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 10px;
  margin-top: -15px;
  z-index: 1046;
}
.header .navbar .menu .bar {
  height: 3px;
  width: 40px;
  display: block;
  margin: 10px auto;
  position: absolute;
  background-color: #021526;
  border-radius: 10px;
  transition: 0.4s;
}
.header .navbar .menu .bar:nth-of-type(1) {
  top: 15px;
  transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
}
.header .navbar .menu .bar:nth-of-type(2) {
  top: 25px;
  transition: ease 0.3s 0.3s;
  transition-property: opacity;
}
.header .navbar .menu .bar:nth-of-type(3) {
  top: 35px;
  transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
}
.header .navbar .menu.active .bar {
  background-color: #021526;
}
.header .navbar .menu.active .bar:nth-of-type(1) {
  top: 25px;
  transform: rotate(45deg);
  transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
}
.header .navbar .menu.active .bar:nth-of-type(2) {
  opacity: 0;
}
.header .navbar .menu.active .bar:nth-of-type(3) {
  top: 25px;
  transform: rotate(-45deg);
  transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
}

.offcanvas {
  width: 317px !important;
}
.offcanvas .offcanvas-body {
  margin-top: 95px;
  padding: 0.5rem 31px;
}
.offcanvas .offcanvas-body .canvas-btns .btn {
  color: #021526;
  transition: 0.25s;
  background: none;
  border-bottom: 3px solid #021526;
  text-transform: uppercase;
  padding: 0.5em 2em 0.5em;
  border-radius: 0;
  width: 253px;
  margin-bottom: 25px;
  font-weight: 500;
}
.offcanvas .offcanvas-body .canvas-btns .btn:hover, .offcanvas .offcanvas-body .canvas-btns .btn:focus {
  border-color: #fff;
  box-shadow: inset 0 -4em 0 0 #021526;
  color: #fff;
}

.offcanvas-backdrop.show {
  opacity: 0.6 !important;
}

.logo-text {
  font-family: "IBM Plex Mono", monospace;
}

.btn-primary {
  background-color: #FEEC01;
  color: #203277;
  padding: 10px 40px;
  font-weight: 700;
  display: block;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.3s;
  border: none;
  font-size: 17px;
}
.btn-primary:hover {
  color: #003657;
  background-color: rgb(233, 229, 229);
}

.btn-blue {
  background-color: #203277;
  color: #FEEC01;
  padding: 10px 40px;
  font-weight: 700;
  display: block;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.3s;
  border: none;
  font-size: 17px;
}
.btn-blue:hover {
  color: #003657;
  background-color: rgb(233, 229, 229);
}

.btn-outline {
  background-color: transparent;
  border: 3px solid #003657;
  color: #003657;
  text-transform: uppercase;
  padding: 9px 28px;
  font-weight: 700;
  display: block;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.3s;
  border-radius: 5px;
}
.btn-outline:hover {
  color: #fff;
  background-color: #003657;
}

h2 {
  margin-bottom: 15px;
}

p {
  margin-bottom: 10px;
  font-size: 18px;
}

.contact-section {
  padding: 70px 30px;
}
.contact-section .content-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 60px;
  align-items: end;
  max-width: 1200px;
}
.contact-section .content-wrapper .content {
  flex: 1;
}
.contact-section .content-wrapper .content h4 {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: #203277;
  margin-bottom: 10px;
  font-size: 21px;
  margin-top: 0;
}
.contact-section .content-wrapper .content h2 {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.contact-section .content-wrapper .content .description {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 1.4;
}
.contact-section .content-wrapper .content #map {
  height: 500px;
  width: 100%;
}
.contact-section .content-wrapper #form {
  flex: 0 0 480px;
}
.contact-section .content-wrapper #form form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.contact-section .content-wrapper #form form .error {
  margin-bottom: 0;
  color: red;
  text-align: center;
}
.contact-section .content-wrapper #form form .form-group .form-control {
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0;
  width: 100%;
  margin-top: 0.25rem;
  background-color: #fff;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.contact-section .content-wrapper #form form .form-group .alert {
  margin-top: 5px;
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: red;
}
.contact-section .content-wrapper #form form .form-split {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.contact-section .content-wrapper #form form .form-split .form-group {
  width: calc(50% - 7.5px);
}
.contact-section .content-wrapper #form form .submit-btn {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding: 12px 32px;
  text-transform: uppercase;
  color: #fff;
  background-color: #203277;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  border: none;
  margin-top: 12px;
  opacity: 1;
}
.contact-section .content-wrapper #form form .submit-btn[disabled] {
  opacity: 0.8;
}
.contact-section .content-wrapper #form form .notice {
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}
.contact-section .content-wrapper #form form .notice a {
  color: #000;
}

.footer {
  background-color: #203277;
  padding: 70px 0;
}
.footer .content-wrapper {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
}
.footer .content-wrapper .upper-section {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.footer .content-wrapper .upper-section .text-wrapper {
  color: #fff;
  flex: 0 1 590px;
}
.footer .content-wrapper .upper-section .text-wrapper h3 {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer .content-wrapper .upper-section .text-wrapper p {
  line-height: 1.5;
  font-weight: 300;
  font-size: 18px;
}
.footer .content-wrapper .upper-section .btn-wrapper {
  display: flex;
  gap: 24px;
}
.footer .content-wrapper .upper-section .btn-wrapper .btn-primary {
  background-color: #fff;
  color: #003657;
  border-radius: 80px;
  padding: 10px 40px;
  font-weight: 500;
  font-size: 18px;
}
.footer .content-wrapper .upper-section .btn-wrapper .btn-primary:hover {
  color: #003657;
  background-color: rgb(219, 213, 213);
}
.footer .content-wrapper .upper-section .btn-wrapper .btn-outline {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 9px 28px;
  font-weight: 500;
  border-radius: 80px;
}
.footer .content-wrapper .upper-section .btn-wrapper .btn-outline:hover {
  color: #003657;
  background-color: #fff;
}
.footer .content-wrapper .main-section {
  padding: 40px 50px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.footer .content-wrapper .main-section .main-content {
  width: 100%;
  display: flex;
  gap: 140px;
  align-items: center;
  color: #fff;
  font-weight: 300;
  justify-content: center;
}
.footer .content-wrapper .main-section .main-content .logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
}
.footer .content-wrapper .main-section .main-content .logo-wrapper .logo {
  width: 110px;
}
.footer .content-wrapper .main-section .main-content .logo-wrapper p {
  margin-top: 30px;
  line-height: 1.3;
}
.footer .content-wrapper .main-section .main-content .logo-wrapper a {
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}
.footer .content-wrapper .main-section .main-content .links-wrapper h4 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer .content-wrapper .main-section .main-content .links-wrapper .links-grid {
  margin-top: 15px;
  display: flex;
  gap: 50px;
  align-items: start;
  justify-content: space-between;
}
.footer .content-wrapper .main-section .main-content .links-wrapper .links-grid .links-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer .content-wrapper .main-section .main-content .links-wrapper .links-grid .links-list a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 17px;
}
.footer .content-wrapper .checked-section {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.footer .content-wrapper .checked-section .label-wrapper {
  width: 100%;
}
.footer .content-wrapper .checked-section .label-wrapper a {
  color: #fff;
  text-decoration: none;
}
.footer .content-wrapper .checked-section .label-wrapper a p {
  margin-bottom: 0;
}
.footer .content-wrapper .checked-section .label-wrapper a.split {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.footer .content-wrapper .checked-section .label-wrapper a.split .din-label {
  height: 60px;
}
.footer .content-wrapper .lower-section {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.footer .content-wrapper .lower-section .copyright-wrapper a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}
.footer .content-wrapper .lower-section .social-media-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.reviews-section {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0 30px;
  position: relative;
}
.reviews-section .google-logo {
  width: 140px;
  margin-left: 15px;
}
.reviews-section h2 {
  margin-top: 10px;
  font-family: "Bai Jamjuree";
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
}
.reviews-section .reviews {
  display: grid;
  justify-content: space-between;
  grid-template-columns: calc(33.33% - 46px) calc(33.33% - 46px) calc(33.33% - 46px);
  gap: 70px;
}
.reviews-section .reviews .item {
  flex: 1;
}
.reviews-section .reviews .item h4 {
  font-family: "Palanquin";
  font-weight: 600;
  font-size: 24px;
}
.reviews-section .reviews .item .text {
  font-family: "Palanquin";
  font-weight: 400;
  color: #363636;
  line-height: 1.5;
}
.reviews-section .reviews .item .lower-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.reviews-section .reviews .item .lower-info .stars {
  display: flex;
  gap: 5px;
}
.reviews-section .reviews .item .lower-info .stars img {
  width: 20px;
}
.reviews-section .reviews .item .lower-info .date {
  font-family: "Palanquin";
  font-weight: 400;
  color: #363636;
}
.reviews-section .deco-person {
  position: absolute;
  width: 63px;
  left: -7px;
  top: 6px;
}

@media screen and (max-width: 1290px) {
  .header .navbar {
    justify-content: space-between;
    max-width: none;
    padding-right: 10px;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header .navbar .nav-links {
    display: none;
  }
  .header .navbar .menu {
    display: block;
  }
}
@media screen and (max-width: 1155px) {
  .contact-section .content-wrapper form {
    flex: 0 0 300px;
  }
}
@media screen and (max-width: 1030px) {
  .footer .content-wrapper .upper-section .text-wrapper h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 950px) {
  .footer .content-wrapper .upper-section {
    padding-bottom: 40px;
    flex-direction: column;
    gap: 15px;
  }
  .footer .content-wrapper .upper-section .text-wrapper {
    flex: auto;
  }
  .footer .content-wrapper .main-section {
    padding: 40px 0;
  }
  .footer .content-wrapper .main-section .main-content {
    flex-direction: column;
    gap: 50px;
  }
  .footer .content-wrapper .main-section .main-content .links-wrapper .links-grid {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 900px) {
  .contact-section .content-wrapper {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .contact-section .content-wrapper .content {
    flex: auto;
    width: 450px;
    margin: 0 auto;
  }
  .contact-section .content-wrapper .content h4 {
    font-size: 19px;
  }
  .contact-section .content-wrapper .content h2 {
    font-size: 40px;
  }
  .contact-section .content-wrapper .content .description {
    display: none;
  }
  .contact-section .content-wrapper .content #map {
    display: none;
  }
  .contact-section .content-wrapper form {
    flex: auto;
    margin: 0 auto;
    width: 450px;
  }
  .contact-section .content-wrapper form .form-group .form-control {
    box-sizing: border-box;
    width: 100%;
  }
  .reviews-section .reviews {
    grid-template-columns: calc(50% - 35px) calc(50% - 35px);
    row-gap: 30px;
  }
}
@media screen and (max-width: 769px) {
  .footer .content-wrapper .checked-section .label-wrapper a.split {
    gap: 20px;
  }
  .footer .content-wrapper .checked-section .label-wrapper a p {
    font-size: 16px;
  }
}
@media screen and (max-width: 695px) {
  .footer .content-wrapper .checked-section .label-wrapper a.split {
    gap: 10px;
  }
  .footer .content-wrapper .checked-section .label-wrapper a.split .din-label {
    height: 50px;
  }
  .footer .content-wrapper .checked-section .label-wrapper a p {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .footer .content-wrapper .lower-section {
    flex-direction: column-reverse;
    gap: 25px;
  }
  .footer .content-wrapper .lower-section .copyright-wrapper {
    text-align: center;
  }
}
@media screen and (max-width: 590px) {
  .footer .content-wrapper .upper-section .btn-wrapper {
    flex-direction: column;
    gap: 15px;
  }
  .footer .content-wrapper .upper-section .btn-wrapper .btn-primary, .footer .content-wrapper .upper-section .btn-wrapper .btn-outline {
    width: 100%;
    text-align: center;
  }
  .footer .content-wrapper .main-section .main-content {
    gap: 30px;
  }
  .reviews-section {
    margin-top: 120px;
  }
  .reviews-section .reviews {
    grid-template-columns: 100%;
    row-gap: 25px;
  }
}
@media screen and (max-width: 510px) {
  .contact-section {
    padding: 60px 30px;
  }
  .contact-section .content-wrapper .content {
    width: 100%;
  }
  .contact-section .content-wrapper .content h2 {
    font-size: 36px;
  }
  .contact-section .content-wrapper form {
    width: 100%;
  }
  .reviews-section {
    margin-bottom: 60px;
  }
  .reviews-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .reviews-section .reviews {
    row-gap: 20px;
  }
  .reviews-section .reviews .item .text {
    margin-bottom: 5px;
  }
  .reviews-section .reviews .item .lower-info {
    margin-top: 5px;
  }
}
@media screen and (max-width: 410px) {
  .reviews-section h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 360px) {
  .header .navbar img {
    height: 35px;
    margin-top: 3px;
  }
}/*# sourceMappingURL=global.css.map */