.primary-section {
    padding: 155px 30px 30px;
    position: relative;

    .content-wrapper {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;

        h1 {
            font-weight: 700;
            font-size: 50px;
            line-height: 1.2;
            color: #203277;
        }

        .content-split {
            margin-top: 25px;
            display: flex;
            gap: 40px;
            align-items: center;
            justify-content: start;
            position: relative;

            .map-wrapper {
                flex: 0 1 calc(100% - 390px);
    
                #map {
                    height: 500px;
                    width: 100%;
                }
            }

            .text-wrapper {
                flex: 0 1 350px;
                height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-family: "Bai Jamjuree";
                color: #203277;

                h2 {
                    font-size: 28px;
                    font-weight: 600;
                }

                p {
                    line-height: 1.3;
                    font-size: 20px;
                    font-weight: 500;
                }

                a.link {
                    color: #203277;
                    font-weight: 500;
                    font-size: 20px;
                }

                .btn-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

                .btn-blue, .btn-outline {
                    width: 100%;
                    text-align: center;
                    border-radius: 0;
                }

                .btn-outline:hover {
                    color: #fff;
                    background-color: #203277;
                }
            }

            .deco-animation {
                position: absolute;
                z-index: 1;
                pointer-events: none;
                right: -140px;
                bottom: 40%;
            }
        }
    }

    .deco {
        position: absolute;
        top: 550px;
        left: 0;
        width: 300px;
        z-index: -2;
    }
}

.primary-section-mobile {
    display: none;
    background-color: #203277;
    margin-top: 85px;
    position: relative;

    .content-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 50px 30px 80px;

        .content {
            color: #fff;
            
            h1 {
                font-family: "Bai Jamjuree";
                font-size: 60px;
                font-weight: 600;
                letter-spacing: 2px;

                .primary-text {
                    color: #FDEA00;
                    display: inline-block;
                    font-weight: 700;
                }
            }

            .text {
                margin-top: 15px;
                font-family: "Bai Jamjuree";

                h2 {
                    font-size: 28px;
                    font-weight: 600;
                }

                p {
                    line-height: 1.3;
                    font-size: 20px;
                    font-weight: 500;
                }

                a.link {
                    font-weight: 500;
                    font-size: 20px;
                    color: #fff;
                }
            }
        }
    }

    .deco {
        position: absolute;
        bottom: -10px;
        right: 0;
        min-width: 101%;
        width: 850px;
        height: auto;
        z-index: 1;
    }
}

.steps-section {
    padding: 60px 0;
    position: relative;

    .content-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;

        h2 {
            text-align: center;
            font-family: "Bai Jamjuree";
            font-weight: 600;
            font-size: 50px;
            margin-bottom: 20px;
            color: #1E3075;
        }

        .items {
            display: flex;
            gap: 30px;
            justify-content: space-between;

            .item {
                width: 340px;

                .animation {
                    margin: 0 auto;
                }

                p {
                    margin-top: 5px;
                    text-align: center;
                    font-family: "Bai Jamjuree";
                    font-weight: 400;
                    font-size: 18px;
                    margin-bottom: 0;
                    line-height: 1.3;

                    a {
                        color: #000;
                        font-weight: 500;
                    }
                }
            }
        }

        .btn-primary {
            margin: 40px auto 0;
            background-color: #203277;
            color: #FEEC01;
            z-index: 1;
            position: relative;
        
            &:hover {
                color: #FEEC01;
                background-color: #0d1a52;
            }
        }
    }
}

.checklist-section {
    max-width: 1250px;
    margin: 0 auto;
    padding: 60px 30px 70px;
    position: relative;

    h2 {
        font-family: "Bai Jamjuree";
        font-weight: 600;
        font-size: 40px;
        line-height: 1.1;
        color: #203277;
    }

    p {
        line-height: 1.3;
    }

    .mobile-deco {
        display: none;
    }

    .accordion {
        margin-top: 30px;

        .accordion-item {
            border-top: none;
            border-right: none;
            border-left: none;

            a {
                color: #000;
            }

            .accordion-button:not(.collapsed) {
                background-color: transparent;
                color: #000;
            } 
        }
    }
}

.contact-cta-section {
    margin-top: 20px;
    width: 100%;
    padding: 60px 0;
    background-color: #203277;
    position: relative;

    .content-wrapper {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 30px;
        color: #fff;

        h3 {
            text-align: center;
            font-family: "Bai Jamjuree";
            font-weight: 600;
            font-size: 40px;
            margin-bottom: 20px;
            width: 100%;
        }

        p {
            text-align: center;
            font-size: 18px;
        }

        .btn-primary {
            margin: 25px auto 0;
        }
    }

    .deco {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transform: translate(-20%, 50%);
        width: 300px;
    }
}

.reviews-section {
    margin-top: 0;
}

.contact-section {
    padding-top: 60px;
}

@media screen and (max-width: 900px) {
    .contact-cta-section {
        .content-wrapper {
            h3 {
                font-size: 32px;
            }
        }
    }

    .steps-section {
        .content-wrapper {
            h2 {
                font-size: 40px;
            }

            .items {
                flex-direction: column;
                gap: 15px;

                .item {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 872px) {

    .contact-cta-section {
        margin-top: 5px;
    }
}

@media screen and (max-width: 800px) {
    .primary-section {
        padding-top: 120px;

        .content-wrapper {

            h1 {
                font-size: 30px;
            }

            .content-split {
                flex-direction: column;

                .map-wrapper {
                    width: 100%;
                }

                .deco-animation {
                    right: -162px;
                    bottom: 16%;
                    z-index: -1;
                }
            }
        }
    }

    .steps-section {
        padding-top: 50px;
        padding-bottom: 70px;

        .content-wrapper {
            .items {
                max-width: 400px;
                margin: 0 auto;
            }
        }
    }

    .contact-cta-section {
        margin-top: 0;
    }
}

@media screen and (max-width: 774px) {
    .primary-section-mobile {
        .content-wrapper {
            .content {
                h1 {
                    font-size: 42px;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .primary-section-mobile {
        .content-wrapper {
            padding-bottom: 75px;
        }

        .deco {
            width: 700px;
        }
    }
}

@media screen and (max-width: 647px) {
    .checklist-section {
        h2 {
            font-size: 32px;
        }
    }
}

@media screen and (max-width: 560px) {
    .primary-section-mobile {
        .content-wrapper {
            padding-bottom: 90px;

            .content {
                h1 {
                    font-size: 44px;
                }
            }
        }

        .deco {
            width: 700px;
        }
    }
}

@media screen and (max-width: 510px) {
    .steps-section {

        .content-wrapper {
            h2 {
                font-size: 36px ;
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: 421px) {
    .steps-section {
        .content-wrapper {
            h2 {
                font-size: 36px;
                margin-bottom: 20px;
            }

            .items {
                gap: 10px;
            }
        }
    }

    .primary-section-mobile {
        .content-wrapper {
            padding-bottom: 120px;
        }
    }
}