<div class="checklist-section" id="checklist">
    <h2 data-i18n="service-checklist.faq.title">Häufig gestellte Fragen</h2>
    <p data-i18n="service-checklist.faq.description">Hier erhalten Sie Auskunft über die benötigten Unterlagen für Ihr
        Anliegen</p>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-i18n="service-checklist.faq.items.0.title" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                    aria-controls="collapseOne">
                    Fahrzeugzulassung
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong data-i18n="service-checklist.faq.items.0.documentsTitle">Benötigte Dokumente:</strong>
                    <br /><br />
                    <ul>
                        <li data-i18n="service-checklist.faq.items.0.documents.0">Zulassungsbescheinigung Teil I und II
                        </li>
                        <li data-i18n="service-checklist.faq.items.0.documents.1">Gültige HU-Bescheinigung</li>
                        <li><span data-i18n="service-checklist.faq.items.0.documents.2.0">Sie brauchen eine</span> <a
                                href="/static/assets/pdf/lastschriftmandat.pdf" target="_blank"
                                data-i18n="service-checklist.faq.items.0.documents.2.1">SEPA-Einzugsermächtigung für die
                                KFZ-Steuer</a>. <a href="{{ url_for('core.tax') }}"
                                data-i18n="service-checklist.faq.items.0.documents.2.2">Hier</a> <span
                                data-i18n="service-checklist.faq.items.0.documents.2.3">können Sie die KFZ-Steuer
                                berechnen.</span></li>
                        <li data-i18n="service-checklist.faq.items.0.documents.3">Personalausweis/Reisepass</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-i18n="service-checklist.faq.items.1.title" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">
                    Ummeldung bei Umzug
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong data-i18n="service-checklist.faq.items.1.documentsTitle">Benötigte
                        Dokumente:</strong><br /><br />
                    <ul>
                        <li data-i18n="service-checklist.faq.items.1.documents.0">Zulassungsbescheinigung Teil I</li>
                        <li data-i18n="service-checklist.faq.items.1.documents.1">Personalausweis mit neuer Adresse</li>
                        <li><a data-i18n="service-checklist.faq.items.1.documents.2"
                                href="/static/assets/pdf/auftragsformular.pdf" target="_blank">Auftragsformular für die
                                Ummeldung</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-i18n="service-checklist.faq.items.2.title" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    Umschreibung auf neuen Halter
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong data-i18n="service-checklist.faq.items.2.documentsTitle">Benötigte
                        Dokumente:</strong><br /><br />
                    <ul>
                        <li data-i18n="service-checklist.faq.items.2.documents.0">Zulassungsbescheinigung Teil I und II
                        </li>
                        <li data-i18n="service-checklist.faq.items.2.documents.1">Kaufvertrag oder Überlassungserklärung
                        </li>
                        <li data-i18n="service-checklist.faq.items.2.documents.2">Personalausweis des neuen Halters</li>
                        <li><span data-i18n="service-checklist.faq.items.2.documents.3">Bei Verlust:</span> <a
                                data-i18n="service-checklist.faq.items.2.documents.4"
                                href="/static/assets/pdf/122630_Eidesstatt_Brief.pdf" target="_blank">Eidesstattliche
                                Versicherungen KFZ-Brief Verlust</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-i18n="service-checklist.faq.items.3.title" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                    aria-controls="collapseFour">
                    Saison- / Zollkennzeichen / Oldtimer
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong data-i18n="service-checklist.faq.items.3.documentsTitle">Benötigte
                        Dokumente:</strong><br /><br />
                    <ul>
                        <li data-i18n="service-checklist.faq.items.3.documents.0">Zulassungsbescheinigung Teil I und II
                        </li>
                        <li data-i18n="service-checklist.faq.items.3.documents.1">Gültige HU-Bescheinigung</li>
                        <li data-i18n="service-checklist.faq.items.3.documents.2">Nachweis über die Einstufung als
                            Oldtimer (falls zutreffend)</li>
                        <li><span data-i18n="service-checklist.faq.items.3.documents.3.0">Sie brauchen eine</span> <a
                                data-i18n="service-checklist.faq.items.3.documents.3.1"
                                href="/static/assets/pdf/lastschriftmandat.pdf"
                                target="_blank">SEPA-Einzugsermächtigung</a> <span
                                data-i18n="service-checklist.faq.items.3.documents.3.2">für die KFZ-Steuer für Saison-
                                und Zollkennzeichen.</span> <a data-i18n="service-checklist.faq.items.3.documents.3.3"
                                href="{{ url_for('core.tax') }}">Hier</a> <span
                                data-i18n="service-checklist.faq.items.3.documents.3.4">können Sie die KFZ-Steuer
                                berechnen.</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-i18n="service-checklist.faq.items.4.title" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive">
                    Adressänderung
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong data-i18n="service-checklist.faq.items.4.documentsTitle">Benötigte
                        Dokumente:</strong><br /><br />
                    <ul>
                        <li data-i18n="service-checklist.faq.items.4.documents.0">Zulassungsbescheinigung Teil I</li>
                        <li data-i18n="service-checklist.faq.items.4.documents.1">Personalausweis mit neuer Adresse</li>
                        <li><a href="/static/assets/pdf/auftragsformular.pdf" target="_blank"
                                data-i18n="service-checklist.faq.items.4.documents.2">Auftragsformular</a> <span
                                data-i18n="service-checklist.faq.items.4.documents.3">für die Adressänderung</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-i18n="service-checklist.faq.items.5.title" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                    aria-controls="collapseSix">
                    Technische Eintragung
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong data-i18n="service-checklist.faq.items.5.documentsTitle">Benötigte
                        Dokumente:</strong><br /><br />
                    <ul>
                        <li data-i18n="service-checklist.faq.items.5.documents.0">Gutachten des TÜV oder einer anderen
                            anerkannten Prüforganisation</li>
                        <li data-i18n="service-checklist.faq.items.5.documents.1">Zulassungsbescheinigung Teil I</li>
                        <li><a href="/static/assets/pdf/auftragsformular.pdf" target="_blank"
                                data-i18n="service-checklist.faq.items.5.documents.2">Auftragsformular</a> <span
                                data-i18n="service-checklist.faq.items.5.documents.3">für die Eintragung der technischen
                                Änderungen</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-i18n="service-checklist.faq.items.6.title" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false"
                    aria-controls="collapseSeven">
                    Diebstahl / Verlust
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong data-i18n="service-checklist.faq.items.6.documentsTitle">Benötigte
                        Dokumente:</strong><br /><br />
                    <ul>
                        <li data-i18n="service-checklist.faq.items.6.documents.0">Polizeibericht (bei Diebstahl)</li>
                        <li><a href="/static/assets/pdf/122630_Eidesstatt_Brief.pdf" target="_blank"
                                data-i18n="service-checklist.faq.items.6.documents.1">Eidesstattliche Versicherungen
                                KFZ-Brief Verlust</a> <span
                                data-i18n="service-checklist.faq.items.6.documents.2">und/oder</span> <a
                                href="/static/assets/pdf/122649_Eidesstatt_Kennzeichen.pdf" target="_blank"
                                data-i18n="service-checklist.faq.items.6.documents.3">Eidesstattliche Versicherungen
                                Kennzeichen Verlust</a></li>
                        <li data-i18n="service-checklist.faq.items.6.documents.4">Personalausweis/Reisepass</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-i18n="service-checklist.faq.items.7.title" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false"
                    aria-controls="collapseEight">
                    Außer Betrieb setzen
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong data-i18n="service-checklist.faq.items.7.documentsTitle">Benötigte
                        Dokumente:</strong><br /><br />
                    <ul>
                        <li data-i18n="service-checklist.faq.items.7.documents.0">Zulassungsbescheinigung Teil I</li>
                        <li data-i18n="service-checklist.faq.items.7.documents.1">Kennzeichen</li>
                        <li><a href="/static/assets/pdf/auftragsformular.pdf" target="_blank"
                                data-i18n="service-checklist.faq.items.7.documents.2">Auftragsformular</a> <span
                                data-i18n="service-checklist.faq.items.7.documents.3">für die Stilllegung</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>