{% extends 'base.html' %}

{% block title %}Datenschutzerklärung – Express KFZ-Zulassung | Lightning Dynamics UG{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/static/assets/style/legal.min.css">
{% endblock %}

{% block content %}

<div class="primary-section">
    <div class="content">
        <h1 data-i18n="data-privacy.title">Datenschutzerklärung</h1>
        <p data-i18n="data-privacy.subtitle">
            Die Lightning Dynamics UG (haftungsbeschränkt) verpflichtet sich, Ihre Privatsphäre zu schützen und
            verwendet hierfür Technologien, die Ihnen zugleich leistungsfähige und sichere Online-Nutzung ermöglichen.
            Diese Erklärung zum Datenschutz gilt für die Website kfzzulassungsexpress.de und regelt die Erhebung und
            Verwendung Ihrer personenbezogenen Daten. Mit der Nutzung der Website kfzzulassungsexpress.de stimmen Sie
            den in dieser Erklärung beschriebenen Datenpraktiken zu.
        </p>
        <h2 data-i18n="data-privacy.sections.0.heading">Erfassung Ihrer persönlichen Daten</h2>
        <p data-i18n="data-privacy.sections.0.paragraphs.0">Die Lightning Dynamics UG (haftungsbeschränkt) sammelt
            personenbezogene Daten wie Ihre E-Mail-Adresse, Ihren Namen, Ihre Anschrift, Ihre Zahlungsmethoden oder Ihre
            Telefonnummer. Die Lightning Dynamics UG (haftungsbeschränkt) speichert auch demographische Informationen,
            die Ihnen nicht eindeutig zuzuordnen sind, wie Postleitzahl, Alter, Geschlecht, Vorlieben, Interessen,
            Hobbys und Favoriten. Einige Informationen über Ihre Computerhardware und -software werden automatisch von
            der Lightning Dynamics UG (haftungsbeschränkt) gesammelt. Zu diesen Informationen gehören: Ihre IP-Adresse,
            der Typ Ihres Browsers, Ihr Domain-Name, Zugriffszeiten und referenzierte Website-Adressen. Diese
            Informationen werden von der Lightning Dynamics UG (haftungsbeschränkt) zur Aufrechterhaltung der
            Servicequalität und zur Erstellung allgemeiner Statistiken über die Nutzung von der kfzzulassungsexpress.de
            Website.</p>
        <p data-i18n="data-privacy.sections.0.paragraphs.1">
            Bitte bedenken Sie, dass persönliche Informationen, die Sie in öffentlich zugänglichen Bereichen, d. h. in
            öffentlichen Foren usw., zur Verfügung stellen, von anderen Benutzern in unzulässiger Weise verwendet werden
            können.
        </p>
        <p data-i18n="data-privacy.sections.0.paragraphs.2">
            Hinweis: Die Lightning Dynamics UG (haftungsbeschränkt) liest keine Ihrer privaten Online-Kommunikationen.
            Die Lightning Dynamics UG (haftungsbeschränkt) fordert Sie auf, die Datenschutzerklärung der Webseiten, auf
            die sie von der kfzzulassungsexpress.de Website verlinken, zur Kenntnis zu nehmen, damit Sie wissen, wie
            diese Websites Ihre Daten sammeln, verwenden und weitergeben. Die Lightning Dynamics UG (haftungsbeschränkt)
            ist nicht verantwortlich für die Datenschutzerklärungen auf Websites außerhalb der Website
            kfzzulassungsexpress.de.
        </p>
        <h2 data-i18n="data-privacy.sections.1.heading">
            Verwendung Ihrer persönlichen Daten
        </h2>
        <p data-i18n="data-privacy.sections.1.paragraphs.0">
            Die Lightning Dynamics UG (haftungsbeschränkt) speichert und verwendet Ihre persönlichen Informationen, um
            die Website kfzzulassungsexpress.de zu betreiben und die von Ihnen gewünschten Dienstleistungen zu
            erbringen. Die Lightning Dynamics UG (haftungsbeschränkt) verwendet Ihre persönlichen Informationen auch, um
            Sie über neue Produkte und Leistungen von der Lightning Dynamics UG (haftungsbeschränkt) zu informieren. Die
            Lightning Dynamics UG (haftungsbeschränkt) kann Sie auch zwecks Durchführung einer Marktforschung über Ihre
            Meinung nach Angeboten und neuen möglichen Erweiterungen befragen. Die Lightning Dynamics UG
            (haftungsbeschränkt) verkauft, vermietet oder verleast ihre Kundeninformationen nicht an Dritte. Die
            Lightning Dynamics UG (haftungsbeschränkt) kann Sie von Zeit zu Zeit im Namen von externen Geschäftspartnern
            über bestimmte Angebote informieren, die für Sie von Interesse sein könnten. In diesen Fällen werden Ihre
            persönlichen Daten wie E-Mail, Name, Adresse oder Telefonnummer nicht an den Dritten weitergegeben.
        </p>
        <p data-i18n="data-privacy.sections.1.paragraphs.1">
            Darüber hinaus kann die Lightning Dynamics UG (haftungsbeschränkt) Daten an vertrauenswürdige Partner
            weitergeben, um statistische Analysen durchzuführen. Allen diesen Dritten ist es untersagt, Ihre
            personenbezogenen Daten zu verwenden, mit Ausnahme der Erbringung dieser Dienstleistungen für die Lightning
            Dynamics UG (haftungsbeschränkt). Sie sind verpflichtet, die Vertraulichkeit Ihrer Daten zu wahren.
        </p>
        <p data-i18n="data-privacy.sections.1.paragraphs.2">
            Die Lightning Dynamics UG (haftungsbeschränkt) veröffentlicht keine sensiblen persönlichen Daten wie
            Herkunft, Religion oder politische Einstellung. Um zu ermitteln, welche Dienste von der Lightning Dynamics
            UG (haftungsbeschränkt) die beliebtesten Dienste sind, verfolgt die Lightning Dynamics UG
            (haftungsbeschränkt) die Websites und Seiten, die unsere Kunden innerhalb der Website
            kfzzulassungsexpress.de besuchen. Diese Daten werden verwendet, um maßgeschneiderte Inhalte zu liefern. Dies
            gilt für diejenigen Kunden, die explizit Interesse an einem bestimmten Angebot bekunden.
        </p>
        <h2 data-i18n="data-privacy.sections.2.heading">
            Weitergabe von personenbezogenen Daten
        </h2>
        <p data-i18n="data-privacy.sections.2.paragraphs.0">
            Im Falle einer gerichtlichen Anordnung gibt die Lightning Dynamics UG (haftungsbeschränkt) Ihre persönlichen
            Daten an Strafverfolgungsbehörden weitergeben, ohne Sie darüber zu informieren. Die Lightning Dynamics UG
            (haftungsbeschränkt) behält sich außerdem das Recht vor, Ihre persönlichen Daten für Rechtsstreitigkeiten zu
            verwenden, wenn sie sich dazu gezwungen sieht.
        </p>
        <h2 data-i18n="data-privacy.sections.3.heading">
            Verwendung von Cookies
        </h2>
        <p data-i18n="data-privacy.sections.3.paragraphs.0">
            Die Lightning Dynamics UG (haftungsbeschränkt) verwendet Cookies, um Ihnen das Surfen zu erleichtern. Ein
            Cookie ist eine Textdatei, die von einem Webserver auf Ihrer Festplatte abgelegt wird. Cookies können nicht
            verwendet werden, um Programme auszuführen oder Viren auf Ihren Computer zu übertragen. Cookies werden Ihnen
            eindeutig zugewiesen und können nur von einem Webserver in der Domäne gelesen werden, die Ihnen das Cookie
            zugewiesen hat. Einer der Hauptzwecke von Cookies ist die Bereitstellung einer Komfortfunktion, die Ihnen
            Zeit spart. Der Zweck eines Cookies besteht darin, dem Webserver mitzuteilen, dass Sie zu einer bestimmten
            Seite zurückgekehrt sind. Wenn Sie sich zum Beispiel bei von der Lightning Dynamics UG (haftungsbeschränkt)
            registrieren. Ein Online-Cookie hilft von der Lightning Dynamics UG (haftungsbeschränkt), Ihre spezifischen
            Informationen bei späteren Besuchen wiederzuerkennen. Dies vereinfacht die Erfassung Ihrer persönlichen
            Daten, wie z.B. Rechnungs- oder Lieferadressen.
        </p>
        <p data-i18n="data-privacy.sections.3.paragraphs.1">
            Wenn Sie zu derselben Website von der Lightning Dynamics UG (haftungsbeschränkt) zurückkehren, können die
            von Ihnen bereitgestellten Informationen wieder abgerufen werden, so dass Sie die Website
            kfzzulassungsexpress.de nutzen können, die Sie angepasst haben. Sie haben die Möglichkeit, Cookies zu
            akzeptieren oder abzulehnen. Die meisten Webbrowser akzeptieren Cookies automatisch, aber Sie können die
            Einstellungen Ihres Browsers in der Regel so ändern, dass er Cookies ablehnt, wenn Sie dies wünschen. Wenn
            Sie sich dafür entscheiden, Cookies abzulehnen, können Sie möglicherweise nicht alle interaktiven Funktionen
            von der Lightning Dynamics UG (haftungsbeschränkt) nutzen.
        </p>
        <h2 data-i18n="data-privacy.sections.4.heading">
            Sicherheit Ihrer persönlichen Daten
        </h2>
        <p data-i18n="data-privacy.sections.4.paragraphs.0">
            Die Lightning Dynamics UG (haftungsbeschränkt) schützt Ihre persönlichen Daten vor unerlaubten Zugriff,
            Verwendung oder Veröffentlichung. Die Lightning Dynamics UG (haftungsbeschränkt) verwahrt hierfür ihre
            persönlichen Informationen, die Sie auf dem Server speichern, in einer kontrollierten sicheren Umgebung, in
            der unerlaubter Zugriff und Veröffentlichung verhindert werden. Wenn sicherheitsrelevante personenbezogene
            Daten wie Kreditkartennummern an andere Websites übertragen werden, werden sie durch Verschlüsselung
            geschützt, z. B. durch das Secure Socket Layer (SSL)-Protokoll.
        </p>
        <h2 data-i18n="data-privacy.sections.5.heading">
            Änderungen an dieser Erklärung
        </h2>
        <p data-i18n="data-privacy.sections.5.paragraphs.0">Die Lightning Dynamics UG (haftungsbeschränkt) behält sich
            das Recht vor, diese Erklärung bei Bedarf zu aktualisieren, um sie an Kundenfeedback, rechtliche und
            gesellschaftliche Veränderungen anzupassen. Die Lightning Dynamics UG (haftungsbeschränkt) wird Sie über
            diese Änderungen auf der Website oder per E-Mail informieren. Diese Änderungen werden gültig, sofern Sie
            keinen schriftlichen EInspruch bei von der Lightning Dynamics UG (haftungsbeschränkt) eingelegt haben,
            während der Änderung.</p>
        <h2 data-i18n="data-privacy.sections.6.heading">
            Kontaktinformationen
        </h2>
        <p data-i18n="data-privacy.sections.6.paragraphs.0">Die Lightning Dynamics UG (haftungsbeschränkt) freut sich
            über Ihre Kommentare zu dieser Erklärung zum Datenschutz. Wenn Sie Fragen oder Anregungen haben, wenden Sie
            sich bitte an info@kfzzulassungsexpress.de . Wir werden uns so schnell wie möglich mit Ihnen in Verbindung
            setzen. Adressdaten entnehmen Sie bitte dem Impressum dieser Seite.</p>
    </div>
</div>

{% endblock %}