<div class="footer">
    <div class="content-wrapper">
        <div class="upper-section">
            <div class="text-wrapper">
                <h3>KFZ-Zulassungs-Express</h3>
                <p data-i18n="footer.callText">
                    Kontaktieren Sie uns noch heute und lassen Sie uns gemeinsam dafür sorgen, dass Ihre Kfz-An- und
                    Abmeldungen, Export und Zollkennzeichen sowie Kurzzeitkennzeichen schnell und reibungslos
                    erledigt werden.
                </p>
            </div>
            <div class="btn-wrapper">
                <div>
                    <a href="mailto:info@kfzzulassungsexpress.de" class="btn-primary">info@kfzzulassungsexpress.de</a>
                </div>
                <div>
                    <a href="tel:+4915778789899" class="btn-outline" data-i18n="footer.callBtn">Anrufen</a>
                </div>
            </div>
        </div>
        <div class="main-section">
            <div class="main-content">
                <div class="logo-wrapper">
                    <div>
                        <img class="logo" src="/static/assets/img/logo.png" alt="Logo Vorort KFZ Zulassung">
                    </div>
                    <p class="address">
                        Lightning Dynamics UG (haftungsbeschränkt)<br />Am Alten Güterbahnhof 24,<br />76646
                        Bruchsal
                    </p>
                    <a href="mailto:info@kfzzulassungsexpress.de">info@kfzzulassungsexpress.de</a>
                </div>
                <div class="links-wrapper">
                    <h4 data-i18n="footer.usefulLinks">Nützliche Links</h4>
                    <div class="links-grid">
                        <div class="links-list">
                            <a href="{{ url_for('core.documents') }}" data-i18n="footer.documents">Dokumente &
                                Formulare</a>
                            <a href="{{ url_for('locations.overview') }}" data-i18n="footer.locations">Annahmestellen</a>
                            <a href="{{ url_for('services.export') }}" data-i18n="footer.export">Zoll & Export
                                Kennzeichen</a>
                            <a href="{{ url_for('services.temporary') }}" data-i18n="footer.temporary">Kurzzeit &
                                6-Tages Kennzeichen</a>
                        </div>
                        <div class="links-list">
                            <a href="{{ url_for('core.tax') }}" data-i18n="footer.tax">KFZ-Steuer berechnen</a>
                            <a href="{{ url_for('core.checklist') }}" data-i18n="footer.checklist">Checkliste</a>
                            <a href="{{ url_for('services.register') }}" data-i18n="footer.register">Fahrzeug-Anmeldung</a>
                            <a href="{{ url_for('services.deregister') }}" data-i18n="footer.deregister">Fahrzeug-Abmeldung</a>
                        </div>
                        <div class="links-list">
                            <a href="{{ url_for('legal.about_us') }}" data-i18n="footer.about">Über uns</a>
                            <a href="{{ url_for('core.partner') }}" data-i18n="footer.partner">Partner</a>
                            <a href="{{ url_for('legal.data_privacy') }}" data-i18n="footer.privacy">Datenschutz</a>
                            <a href="{{ url_for('legal.imprint') }}" data-i18n="footer.imprint">Impressum</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="checked-section">
            <div class="label-wrapper">
                <a href="https://www.dincertco.tuv.com/registrations/60177267?locale=de" target="_blank" class="split">
                    <p><b>TÜV Rheinland® - DIN CERTCO:</b> Retroreflektierende Kennzeichenschilder<br />
                        Prüfungsgrundlage: DIN 74069:2016-05 | Register-Nr. 1M13245/15</p>
                    <img class="din-label" src="/static/assets/img/din-geprueft.png" alt="DIN Geprüft Siegel">
                </a>
            </div>
        </div>
        <div class="lower-section">
            <div class="copyright-wrapper">
                <!-- Optional -->
            </div>
            <div class="social-media-wrapper">
                <a href="https://www.facebook.com/p/Kfz-Zulassungs-Express-100054580503784/" target="_blank">
                    <img src="/static/assets/img/social-media/facebook.svg" alt="Facebook Icon">
                </a>
                <a href="https://www.instagram.com/kfzzulassungsexpress?igsh=eXhvNHhlM2UyN3Y0" target="_blank">
                    <img src="/static/assets/img/social-media/instagram.svg" alt="Instagram Icon">
                </a>
            </div>
        </div>
    </div>
</div>