{% extends 'base.html' %}

{% block title %}Impressum – Express KFZ-Zulassung | Lightning Dynamics UG{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/static/assets/style/legal.min.css">
{% endblock %}

{% block content %}

<div class="primary-section">
    <div class="content">
        <h1 data-i18n="imprint.title">Impressum</h1>
        <p>
            <b data-i18n="imprint.company_name">KFZ-Zulassungsexpress</b><br />
            <span data-i18n="imprint.content.0">Lightning Dynamics UG (haftungsbeschränkt)</span><br />
            <span data-i18n="imprint.content.1">Geschäftsführer: Aleyna Simsek</span><br />
            <span data-i18n="imprint.content.2">Bannweideweg 8,</span><br />
            <span data-i18n="imprint.content.3">76646 Bruchsal</span>
        </p>
        <p>
            <b data-i18n="imprint.content.4">Eintrag im Handelsregister:</b> <span
                data-i18n="imprint.content.5">Amtsgericht Mannheim, HRB 751377</span><br />
        </p>
        <p>
            <b data-i18n="imprint.content.6">E-mail Adresse:</b> info@kfzzulassungsexpress.de
        </p>
        <p>
            <b data-i18n="imprint.content.7">Telefon:</b> +49 1577 8789899
        </p>
        <p data-i18n="imprint.content.8">
            Alternative Streitbeilegung gemäß Artikel 14 Absatz 1 ODR-VO und § 36 VSBG: Die Europäische Kommission
            stellt eine Plattform zur Online-Streitbeilegung (OS-Plattform) bereit, die Sie unter
            https://ec.europa.eu/consumers/odr/erreichen. Die Lightning Dynamics UG (haftungsbeschränkt) ist nicht
            verpflichtet, an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
        </p>
        <p data-i18n="imprint.content.9">
            Der Kontakt per E-Mail ist nur für allgemeine Anfragen oder Erklärungen gedacht. Anfragen oder Erklärungen,
            die sich auf den elektronischen Geschäftsverkehr, den Verbraucherschutz, Bestellungen, Produktsicherheit
            oder andere Angelegenheiten mit möglicher rechtlicher Bedeutung beziehen, sollten auf dem Postweg
            übermittelt werden.
        </p>
        <p><span data-i18n="imprint.content.10">Der Inhalt dieser Seiten ist gesetzlich geschützt. Alle nicht
                ausdrücklich
                gewährten Rechte sind vorbehalten. Die Lightning Dynamics UG (haftungsbeschränkt) gestattet Ihnen die
                persönliche Nutzung dieser Webseiten, soweit diese sich auf das Aufrufen, Herunterladen, Betrachten,
                Ausführen,
                Abspeichern und Ausdrucken beschränkt. Eine Vervielfältigung, Bearbeitung, Übersetzung, Übermittlung
                oder
                Verbreitung im Ganzen oder in Teilen ist ohne schriftliche Zustimmung von der Lightning Dynamics UG
                (haftungsbeschränkt) untersagt.</span><br /> <span data-i18n="imprint.content.11">Pressemitteilungen und
                andere als öffentlich gekennzeichnete
                Dokumente dürfen unter Angabe der Quelle in öffentlichen Mitteilungen verwendet werden. Für bestimmte
                Dokumente auf
                unseren Webseiten können zusätzliche Bedingungen gelten, die in den Dokumenten selbst angegeben
                sind.</span><br /> <span data-i18n="imprint.content.12">Die
                Lightning Dynamics UG (haftungsbeschränkt) behält sich das Recht vor, Seiten jederzeit zu ändern oder
                den Zugang zu
                ihnen zu sperren. Die Lightning Dynamics UG (haftungsbeschränkt) übernimmt keinerlei ausdrückliche oder
                stillschweigende Gewährleistung für diese Webseiten. Insbesondere übernimmt die Lightning Dynamics UG
                (haftungsbeschränkt) keine Gewähr dafür, dass die Webseiten fehler- und störungsfrei funktionieren. Dies
                schließt
                eine Gewährleistung für Rechtsmängel, Unversehrtheit, Marktfähigkeit oder Eignung für einen bestimmten
                Zweck im
                Hinblick auf die Verfügbarkeit, Genauigkeit, Zuverlässigkeit oder den Inhalt der Seiten ein, ist aber
                nicht darauf
                beschränkt. Die Lightning Dynamics UG (haftungsbeschränkt) haftet nicht für direkte, indirekte,
                zufällige oder
                besondere Schäden oder Folgeschäden, entgangenen Gewinn oder Produktionsausfälle, die sich aus der
                Nutzung oder der
                fehlenden Möglichkeit zur Nutzung der Webseiten oder der darin enthaltenen Dienste ergeben. Dies gilt
                auch dann,
                wenn die Lightning Dynamics UG (haftungsbeschränkt) auf die Möglichkeit eines solchen Schadens
                hingewiesen worden
                ist.</span><br /> <span data-i18n="imprint.content.12">Um Ihnen den Zugang zu erleichtern, stellt die
                Lightning Dynamics UG (haftungsbeschränkt) gelegentlich
                Links zu den Internetseiten Dritter ein. Wenn Sie diese Links nutzen, müssen Sie die Nutzungsbedingungen
                dieser
                Seiten lesen und akzeptieren, bevor Sie sie nutzen. Sie akzeptieren auch, dass die Lightning Dynamics UG
                (haftungsbeschränkt) keine Kontrolle über den Inhalt solcher Seiten hat und keine Verantwortung für das
                auf solchen
                Seiten erzeugte oder veröffentlichte Material trägt. Außerdem bedeutet ein Link zu einer solchen Seite
                nicht, dass
                die Lightning Dynamics UG (haftungsbeschränkt) die Seite oder die auf ihr dargestellten Produkte oder
                Dienstleistungen empfiehlt.</span></p>
    </div>
</div>

{% endblock %}