<div class="reviews-section">
    <img class="google-logo" src="/static/assets/img/google-reviews.png" alt="Google Reviews Logo">
    <h2 data-i18n="reviews.title">Meinungen unserer Kunden</h2>
    <div class="reviews">
        <div class="item">
            <h4>Michael Weber</h4>
            <p class="text" data-i18n="reviews.review1">
                Super freundlich und perfekte Abwicklung! Ich würde 6 Sterne geben wollen...
            </p>
            <div class="lower-info">
                <div class="stars">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                </div>
                <div>
                    <p class="date">26.07.24</p>
                </div>
            </div>
        </div>

        <div class="item">
            <h4>Felix Gottselig</h4>
            <p class="text" data-i18n="reviews.review2">
                Sehr freundlich und noch zu einem richtig guten Preis. Wenn ein Schild beim Landratsamt gebraucht
                wird, dann aufjedenfall hier machen lassen
            </p>
            <div class="lower-info">
                <div class="stars">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                </div>
                <div>
                    <p class="date">26.07.24</p>
                </div>
            </div>
        </div>

        <div class="item">
            <h4>Ruslan Z.</h4>
            <p class="text" data-i18n="reviews.review3">
                Mühelose Exportkennzeichenregistrierung! Kfz Zulassungs Express bearbeitete meinen Antrag noch am
                selben Tag, eine Terminvereinbarung war nicht erforderlich. Professionelles Personal machte den
                Prozess stressfrei. Sehr empfehlenswert!
            </p>
            <div class="lower-info">
                <div class="stars">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                    <img src="/static/assets/img/star.svg" alt="Goldener Stern">
                </div>
                <div>
                    <p class="date">26.07.24</p>
                </div>
            </div>
        </div>
    </div>
    <img class="deco-person" src="/static/assets/img/person-2.svg" alt="Dekorative Person steigt auf">
</div>