{% extends 'location-base.html' %}

{% block title %}Express KFZ-Zulassung in Sandhausen – Schnell & Zuverlässig{% endblock %}

{% block content %}

<div class="primary-section">
    <div class="content-wrapper">
        <h1>Express KFZ-Zulassung in Sandhausen</h1>
        <div class="content-split">
            <div class="map-wrapper">
                <div id="map">
                    <iframe src="https://www.google.com/maps?q=49.336873,8.646169&z=15&output=embed" width="100%"
                        height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
            <div class="text-wrapper">
                <div>
                    <!-- <h2>Feigenbutz Schreibwaren</h2> -->
                    <p>Ostlandstraße  1,<br /> 69207 Sandhausen</p>
                    <a class="link" href="tel:+49 7259 925680">+49 7259 925680</a>
                </div>
                <div class="btn-wrapper">
                    <a href="mailto:info@kfzzulassungsexpress.de" class="btn-blue">E-mail</a>
                    <a href="#checklist" class="btn-outline" data-i18n="locations.common.checklist">Checkliste</a>
                    <a href="https://wa.me/4915778789899" class="btn-outline" target="_blank">WhatsApp</a>
                </div>
            </div>
            <lottie-player src="/static/assets/lottifiles/purple-car-top.json" background="transparent" class="deco-animation"
                speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
        </div>
    </div>
    <img class="deco" src="/static/assets/img/deco-circle_locations.jpg" alt="Dekorativer Kreis">
</div>

<div class="primary-section-mobile">
    <div class="content-wrapper">
        <div class="content">
            <h1>Express KFZ-Zulassung in <span class="primary-text">Sandhausen</span></h1>
            <div class="text">
                <!-- <h2>Feigenbutz Schreibwaren</h2> -->
                <p>Ostlandstraße 1,<br /> 69207 Sandhausen</p>
                <a class="link" href="tel:+49 7259 925680">+49 7259 925680</a>
            </div>
        </div>
    </div>
    <img class="deco" src="/static/assets/img/home-primary-bg.png" alt="Dekoratives Auto mit Menschen">
</div>

<div class="steps-section">
    <div class="content-wrapper">
        <h2 data-i18n="locations.common.steps_title">Vorgehensweise</h2>
        <div class="items">
            <div class="item">
                <div class="animation-wrapper">
                    <lottie-player src="/static/assets/lottifiles/purple-car-checklist.json" background="transparent"
                        class="animation" speed="1" style="width: 150px; height: 150px;" loop autoplay></lottie-player>
                </div>
                <p>
                    <span data-i18n="locations.common.step1">Bringen Sie alle notwendigen Dokumente für Ihr
                        Anliegen (z. B. Zulassung, Abmeldung) und das entsprechende</span> <a
                        href="/static/assets/pdf/auftragsformular.pdf" target="_blank"
                        data-i18n="locations.common.step1_link">Auftragsformular mit.</a>
                </p>
            </div>

            <div class="item">
                <div class="animation-wrapper">
                    <lottie-player src="/static/assets/lottifiles/file-with-clip.json" background="transparent"
                        class="animation" speed="1" style="width: 150px; height: 150px;" loop autoplay></lottie-player>
                </div>
                <p data-i18n="locations.common.step2">
                    Besuchen Sie eine unserer Annahmestellen und übergeben Sie die Unterlagen.
                </p>
            </div>

            <div class="item">
                <div class="animation-wrapper">
                    <lottie-player src="/static/assets/lottifiles/purple-house.json" background="transparent" class="animation"
                        speed="1" style="width: 200px; height: 150px; margin-top: 5px" loop autoplay></lottie-player>
                </div>
                <p data-i18n="locations.common.step3">
                    Wir kümmern uns um die Formalitäten und informieren Sie, sobald der Vorgang abgeschlossen ist.
                </p>
            </div>
        </div>
        <a href="https://wa.me/4915778789899" target="_blank" class="btn-primary">WhatsApp</a>
    </div>
</div>

<div class="contact-cta-section">
    <div class="content-wrapper">
        <h3 data-i18n="contact_cta.title">Du hast ein anderes Anliegen?</h3>
        <p data-i18n="contact_cta.text">
            Haben Sie Fragen oder benötigen Sie Unterstützung bei der Zulassung Ihres Fahrzeugs? Unser freundliches und
            kompetentes Team steht Ihnen gerne zur Verfügung!
        </p>
        <a href="/#kontakt" class="btn-primary" data-i18n="contact_cta.button">Kontakt</a>
    </div>
</div>

{% include 'checklist-section.html' %}

{% include 'reviews-section.html' %}

{% endblock %}